/* G L O B A L */
*{
    margin: 0rem;
    padding: 0rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 5rem;
    margin-top: 3rem;
    margin-left: 1rem;
}

h3{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* H E A D E R */
#header {
    background-image: url(/images/banner.jpg);
    color: white;
    text-align: center;
    background-position: center center;
    background-size: cover;
    height: 50vh;

    /* padding: 0px, 1rem;
    height: 50rem; */
}

@media(min-width:768px) {
    #header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-title {
        display: flex;
        flex-direction: column;
    }
}

.logo {
    font-size: 3.8rem;
    color: white;
    padding-top: 3rem;
    margin-bottom: 11rem;
}

.coffee-logo {
    font-weight: 900;
    color: #724F3F;
}

a.menu {
    font-size: 1.8rem;
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 2rem;
}

@media(min-width:768px) {
    .top-container {
        display: flex;
        justify-content: space-between;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    a.menu {
        margin-right: 2rem;
    }
}

.title {
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 5rem;
    word-spacing: 0.5rem;
}

.subtitle {
    font-size: 2.2rem;
    margin-bottom: 10rem;
    word-spacing: 0.5rem;
}

/* M A I N */
@media(min-width:768px) {
    .flex-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .courses {
        flex-basis: calc(25% - 2rem);
    }

    .blogs {
        flex-basis: 75%;
    }
}

/* C O U R S E S */
.course {
    padding-left: 1rem;
}

.course-info {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn-info {
    background-color: #724F3F;
    width: 90%;
    padding: 1.25rem;
    text-transform: uppercase;
    color: white;
    margin-left: 0;
    margin-right: auto;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

@media(min-width:768px) {
    .btn-info {
        width: 20rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
}

.btn-read {
    background-color: black;
}

p {
    font-size: 1.8rem;
    line-height: 2;
}

/* B L O G */

/* F O O T E R */
footer {
    background-color: black;
    color: white;
    margin-top: 2rem;
    text-align: center;
    padding-bottom: 0rem;
    padding-top: 0rem;
}

@media(min-width: 768px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .footer-menu {
        display: flex;
        text-align: center;
        justify-content: center;
        padding-top: 2.5rem;
    }
}